DEBUG=True
SECRET_KEY=local-secret-key-12345
DATABASE_URL=postgres://postgres:postgres@localhost:5432/rapid_quiz
CORS_ALLOWED_ORIGINS=http://localhost:5173

# --- ADMIN VE YAPAY ZEKA AYARLARI ---
# Yapay zeka ile otomatik soru üretmek için Gemini API anahtarınızı buraya girin
GEMINI_API_KEY=your-gemini-api-key-here

# Proje ilk ayağa kalktığında otomatik oluşturulacak Süper Admin (Yönetici) bilgileri Değiştirilebilir.
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@rapidquiz.com
DJANGO_SUPERUSER_PASSWORD=supergizlisifre123
